.modalMask{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalBody{
    width: 50%;
    max-width: 500px;
    background: #1d1d1d;
    border-radius: 10px;
    position: relative;
}
.modalHeader{
    padding: 30px;
    border-bottom: 2px solid #262626;
}
.heading{
    margin-bottom: 5px;
}
.subHeading{
    font-size: 18px;
    margin:  10px 0;
    font-weight: bold;
}
.roomTypes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.typeBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background: #262626;
    padding: 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.typeActive{
    background-color: rgb(0, 124, 226);
}
.typeBox:hover{
    background-color: rgb(0, 124, 226);
}
.modalFooter{
    padding: 30px;
    text-align: center;
}
.modalFooter h2{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
.footerBtn{
    background: #20bd5f;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.footerBtn:hover{
    background: #188543;
}
.closeBtn{
    padding: 10px;
    cursor: pointer;
    background: rgb(214, 0, 0);
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all .3s ease-in-out;
}
.closeBtn:hover{
    background: rgb(172, 0, 0); 
}