.button{
    background-color: #6DFE8D;
    padding: 10px 20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    min-width: 150px;
}

.button:hover{
    background-color:#00ff37 ;
}

.arrow{
    margin-left: 10px;
    transition: all .3s ease-in-out;
}
.button:hover .arrow{
    margin-left: 15px;
}